#home-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 0.3rem 0;
  height: 8vh;
  background-color: var(--primary-color);
}
#home-nav li {
  width: 20px;
  padding: 0.5vmin;
}
.home-intro {
  display: grid;
  place-content: center;
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 90vh;
  padding: 3vmin;
}
.home-intro-info {
  color: var(--font-color);
}
.home-intro-info span {
  color: var(--primary-color);
}
.home-intro-header {
  font-size: 3.5rem;
  color: var(--font-color);
}
#home-sub {
  margin-top: -8px;
  padding: 3vmin;
  background-color: var(--bg-color);
}
.home-section {
  padding: 6vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-section-img {
  max-width: 250px;
  margin: 2vmin;
}
.home-section-header {
  color: var(--font-color);
  font-size: 1.5rem;
  margin: 0.5vmin 0;
}
.home-section-info {
  color: var(--primary-color);
  padding: 0.1vmin 0;
}
.home-section-sub {
  padding: 1vmin;
  max-width: 500px;
}
.home-link {
  font-size: 0.8rem;
  background-color: var(--primary-color);
  padding: 0.5vmin 2vmin;
  margin-top: 2vmin;
}
.home-link:hover {
  background-color: rgb(39, 202, 202);
}
#profile-pic {
  width: 200px;
  transform: rotate(5deg);
  transition: transform 0.5s;
}
#profile-pic:hover {
  transform: rotate(28deg);
  transition: transform 0.5s;
}
@media screen and (max-width: 500px) {
  .home-section {
    flex-direction: column;
  }
  .home-section-img {
    order: 1;
  }
}
