#home-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  padding: 0.3rem 0;
  background-color: var(--primary-color);
}
#home-nav li {
  padding: 0.5vmin;
}
.nav-link {
  color: var(--bg-color);
}
.nav-link:hover {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.home-intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  background: url("../../assets/home.svg") no-repeat center center/cover;
  width: 100%;
  height: 90vh;
  padding: 3vmin;
}
.home-intro-info {
  color: var(--primary-color);
}
.home-intro-header {
  font-size: 3.5rem;
  color: var(--font-color);
}
.home-section {
  padding: 3vmin;
  margin: 3vmin;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-section-img {
  max-width: 300px;
  margin: 2vmin;
}
.home-section-header {
  font-size: 1.5rem;
  margin: 0.5vmin 0;
}
.home-section-info {
  color: var(--primary-color);
  padding: 0.3vmin 0;
}
.home-section-img:hover {
  transform: translateY(-5%);
  transition: transform 0.3s;
}
.home-section-sub {
  padding: 1vmin;
  max-width: 500px;
}
#profile-pic {
  width: 200px;
  transform: rotate(5deg);
}
#profile-pic:hover {
  transform: rotate(20deg);
  transition: transform 0.5s;
}
@media screen and (max-width: 500px) {
  .home-section {
    flex-direction: column;
  }
  .home-section-img {
    order: 1;
  }
}
