/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
a {
  display: inline-block;
  color: var(--font-color);
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.section-title {
  background-color: var(--font-color);
  color: var(--bg-color);
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  box-shadow: 0 0 3px var(--secondary-color);
}
