#work1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  background-color: var(--bg-color);
  transition: background-color 0.5s;
}
.work-main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 3vmin 0;
}
.project-item {
  padding: 5px 10px;
  margin: 15px 0;
  cursor: pointer;
}
.project-item:hover {
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: background-color 0.5s;
}
.project-dropdown {
  display: none;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 5vmin 0;
  outline: none;
  border: none;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-box {
  max-width: 500px;
}
.project-img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 5px var(--font-color);
}
.project-info {
  max-width: 700px;
  margin: 1vmin;
  padding: 1vmin;
}
.project-title {
  background-color: var(--font-color);
  color: var(--bg-color);
  text-align: center;
  padding: 1vmin 0;
  margin: 1vmin 0;
}
.project-details {
  padding: 0 5vmin;
}
.project-details li {
  margin: 1.5vmin 0;
  margin-inline-start: 0;
}
.project .project-skills {
  display: flex;
  justify-content: center;
  margin-top: 3.5vmin;
}
.project-skills span {
  margin: 0 2.5vmin;
}
.project-links {
  display: flex;
  justify-content: space-around;
}
.project-link {
  display: inline;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 3vmin;
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 0.5vmin 3vmin;
  border-radius: 8px;
  border: 2px solid;
}
.project-link:hover {
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: background-color 0.3s;
}
.other-link {
  padding-bottom: 2vmin;
}
.other-link:hover {
  color: var(--primary-color);
}
@media screen and (max-width: 780px) {
  .work-main {
    flex-direction: column;
  }
  .work-list {
    display: none;
  }
  .project-dropdown {
    display: block;
  }
  .project-title {
    display: none;
  }
}
